body{
      background-color: rgb(214, 214, 214);
}
.container{
      width: 450px;
      height: 500px;
      margin: 80px auto;
      border-radius: 10px;
      background-color: rgb(224, 220, 216);
      box-shadow: 5px 5px 10px rgb(160, 156, 156), -5px -5px 10px white;
}
.cal-box{
      width: 300px;
      margin: 40px auto;
}
#display{
      border: none;
      outline: none;
      color: black;
      content: 66px;
      text-align: right;
      font-weight: 600;
      padding:  25px 65px;
      margin: 40px 0 20px 0;
      background: transparent;
      box-shadow: inset 2px 2px 5px rgb(163, 163, 163) ,inset -5px -5px 10px white;
}
.button{
      margin: 15px 0 0 5px;
      width: 65px;
      height: 65px;
      border: none;
      outline: none;
      font-size: 18px;
      font-weight: bold;
      cursor: pointer;
      border-radius: 8px;
      background-color: rgb(212, 209, 209);
      box-shadow: 5px 5px 10px rgb(122, 122, 122),-5px -5px 10px white;
      display: inline-block;
      

}
.button:active {
      box-shadow: inset 1px 1px 2px rgb(180, 172, 172) ,inset 1px 1px 2px rgb(255, 255, 255);
}
.clearbutton{
      background-color: brown;
      color: white;
}
.mathbutton{
      background-color: black;
      color: white;
}